body{
  background-image:url('../../../../Downloads/matrix-1461373324WTC.jpg')
}
div.me{
  width: 600px;
  height: 220px;
  background-color: aqua;
  margin: 10px auto;
  border-radius: 15px;
  border-color: blueviolet;
  padding: 12px;
  border: 14px; 
}
h1 {
  text-align: center
}
h2 {
  text-align: center
}
div.lion {
  width:630px;
  height:360px;
  background-color: blue;
  border-radius: 20px;
  margin-left: 5px;
  margin-top : 10px;
  font-size: 25px;
  
}
img{
  float: left;
}
div#hommis {
  width:730px;
  height:420px;
  background-color: rgb(21, 21, 92);
  border-radius: 20px;
  margin-left: 5px;
  margin-top : 10px;
  font-size: 35px;
  font: color red
}
#j image {
  display: block
}
nav {
  width: 100%
}
nav ul {
  margin: 20px 0 0;
  padding: 3px;
  border-radius: 4px;
  background: #262626;
  overflow: hidden;
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none; 
}
.active,
nav ul li a:hover{
  background: blue;
  
}
