body{
  background-image:url('../../../../Downloads/matrix-1461373324WTC.jpg')
}
div{
  width: 600px;
  height: 220px;
  background-color: aqua;
  margin: 10px auto;
  border-radius: 15px;
  border-color: blueviolet;
  padding: 12px;
  border: 14px; 
}
h1 {
  text-align: center
}
h2 {
  text-align: center
}
div.lion {
  width:630px;
  height:360px;
  background-color: blue;
  border-radius: 20px;
  margin-left: 5px;
  margin-top : 10px;
  font-size: 25px;
  
}
img{
  float: left;
}
div#hommis {
  width:730px;
  height:420px;
  background-color: rgb(21, 21, 92);
  border-radius: 20px;
  margin-left: 5px;
  margin-top : 10px;
  font-size: 35px;
  font: color red
}